/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: hsl(0, 0%, 100%);
}

.wrapper{
    width: 100%;
    margin: auto;
    position: relative;
    background-color: rgb(220, 239, 255);
}

.logo a{
    position: relative;
    font-family: 'Imbue', serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px;
    float: left;
    left: 10%;
}

.menu{
    position: relative;
    float:right;
    right: 10%;
}

nav{
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 30px;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.wrapper2{
    width: 1100px;
    margin:auto;
    position: relative;
}

.wrapper3{
    width: 100%;
    position: relative;
    background-color: rgb(220, 239, 255);
}

a.signbutton{
    background: #72aedf;
    border-radius: 20px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.column{
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer{
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
}

.footer-list{
    width: 20%;
    margin: 0 auto;
    padding: 15px 0px 15px 0px;
}

.footer-list h3{
    font-size: 30px;
    text-align: center;
}

.footer-list p{
    text-align: justify;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.containerpromo1{
    position: relative;
    width: 100%;
}

.banneriklan1{
    position: relative;
    border-radius: 50%;
    width: 1100px;
}

.containerpromo1 .textiklan1_1{
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 40px;
    font-weight: bold;
    background-color: transparent;
    color: red;
    font-family: 'Imbue', serif;
    letter-spacing: 0px;
    display: inline-block;
    transform: scale(1,1.5);
}

.containerpromo1 .textiklan1_2{
    position: absolute;
    top: 55%;
    left: 3%;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    color: black;
    font-family: 'Imbue', serif;
    letter-spacing: 0px;
}

.bestoffer{
    border-radius: 80%;
    height: 200px;
    width: 200px;
    padding: 0px 10px 0px 10px;
}


.bestoffer-list{
    width: 99.80%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.bestofferdesc{
    width: 20%;
    margin: 0 auto;
    text-align: justify;
}

.latestprod{
    width: 250px;
}

.latestproddecs{
    text-align: center;
}

/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
@media screen and (max-width: 991.98px){
    .wrapper{
        width: 100%;
    }

    .wrapper2{
        width: 90%;
    }

    .wrapper3{
        width: 90%;
    }

    .logo a{
        display: block;
        width: 100%;
    }

    nav .menu{
        width: 100%;
        margin: 0px;
    }

    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 50px;
    }

    nav .menu ul li{
        display: inline-block;
        float: none;
    }

    .containerpromo1{
        width: 70%;
    }

    .bestoffer{
        width: 70%;
        height: 70%;
    }

    .latestprod{
        width: 70%;
        height: 70%;
    }

    .textiklan1_1{
        margin: auto;
        font-size: 5%;
    }

    .textiklan1_2{
        margin: auto;
        font-size: 5%;
        text-align: center;
    }

    .banneriklan1{
        width: 99%;
    }
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/