*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: hsl(0, 0%, 100%);
}

.wrapper{
    width: 100%;
    margin: auto;
    position: relative;
    background-color: rgb(220, 239, 255);
}

.logo a{
    position: relative;
    font-family: 'Imbue', serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -2px;
    float: left;
    left: 10%;
}

.menu{
    position: relative;
    float:right;
    right: 10%;
}

nav{
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 30px;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 15px 0px 15px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

a.signbutton{
    background: #72aedf;
    border-radius: 20px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.wrapper2{
    width: 1100px;
    margin: auto;
    position: relative;
}

.wrapper3{
    width: 100%;
    position: relative;
    background-color: rgb(220, 239, 255);
}

.login{
    width: 1100px;
    margin: auto;
    position: relative;
}

#question{
    width: 100%;
    position: relative;
    background-color: rgb(220, 239, 255);
    padding: 10px 0;
    font-size: 30px;
}

.signupform{
    margin: 40px 35% ;
}

.signupform label{
    font-size: 20px;
}

.signupform input{
    padding: 10px 5px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 15px;
}

#mradio{
    width: 5%;
    margin-right: 50px;
}

#fradio{
    width: 5%;
}

#agreement{
    width: 5%;
}

#tc{
    padding-top: 20px;
}

#tc a{
    color: black;
    text-decoration: underline;
    font-size: 20px;
}

#btn{
    font-size: 20px;
    margin-top: 30px;
}

#btn a{
    color: black;
}

.column{
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer{
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
}

.footer-list{
    width: 20%;
    margin: 0 auto;
    padding: 15px 0px 15px 0px;
}

.footer-list h3{
    font-size: 30px;
    text-align: center;
}

.footer-list p{
    text-align: justify;
}

.aboutustitle{
    font-size: 90px;
    letter-spacing: -4px;
}